<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/SignUp_Style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Notification_Message.css' %}" type="text/css">
</head>
<body>

        <!-- ~~~~~~~~~~~~~~~~~~~This is message section~~~~~~~~~~~~~~~~~~  -->
        {% for message in messages %}
        <div id="Notification_Message">
            <div id="Notification_message_holder" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                <div id="Cancil_Notification_message">
                    X
                </div>
                <div id="This_is_Notification_message">
                {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
<!-- ==========================[ SignUp Form Section ]===========================  -->
    <div id="It_is_SignUpfrom">
        <div class="Signup-Rapper">
            <div id="SignupFrom-container">
                <span class="SignupFrom-Heding">
                    <h2>Sign up Please</h2>
                </span>
                <!-- ~~~~~~~~~~~~~~~~~~This is the from section~~~~~~~~~~~~~~~~~~  -->
                <form action="{% url 'SignUp' %}" method="post">
                    {% csrf_token %}
                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/userAll.svg' %}" alt="UserIcon">
                        </div>
                            <input type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="Enter Full Name" required>
                        <span class="SignUp-bar"></span>
                    </div>

                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/user.svg' %}" alt="UserIcon">
                        </div>
                            <input type="text" name="username" maxlength="40" id="id_username" placeholder="User Name..." required>
                        <span class="SignUp-bar"></span>
                    </div>
                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/gmail.svg' %}" alt="AddmailIcon">
                        </div>
                            <input type="email" name="email" maxlength="100" id="id_email" required placeholder="Enter Email">
                        <span class="SignUp-bar"></span>
                    </div>

                    <!-- This is password section  -->
                    <div class="SignupInpu-group">

                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/lock.svg' %}" alt="LockIcon" style="height: 30px; width: 30px;">
                        </div>
                        <input type="password" name="password" maxlength="30" id="id_password" placeholder="Enter Password" required >
                        <span class="SignUp-bar"></span>
                        <div class="SignUp-IconHolder" id="Password_icon_In_S">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/invisible.svg' %}" alt="InvisibleIcon">
                        </div>
                    </div>

                    <!-- This is confirm password section -->
                    <div class="SignupInpu-group">

                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/lock.svg' %}" alt="LockIcon" style="height: 30px; width: 30px;">
                        </div>
                        <input type="password" name="re_password" maxlength="30" id="id_re_password" placeholder="Re-Enter Password" required>
                        <span class="SignUp-bar"></span>
                        <div class="SignUp-IconHolder" id="ConfirmPassword_icon_In_S">
                            <img src="{% static 'Images/IconsForHome/SignUpIcons/invisible.svg' %}" alt="InvisibleIcon">
                        </div>
                    </div>
                    <!-- That section Target SignUP  -->
                    <div class="SignupInpu-group">
                        <button type="submit">
                            <div class="SignUp-IconSubmit">
                                <img src="{% static 'Images/IconsForHome/SignUpIcons/send.svg' %}" alt="SendIcon">
                            </div>
                        </button>
                    </div>
                    <div class="SignupSwitch-login">
                        <a href="{% url 'LogIn' %}">Already have an account?
                            <span class="SignUp-bar">Login</span>
                        </a>
                    </div>
                </form>
                <div class="Cancel_SignUp" id="Candel_SignUp">
                    <a href="{% url 'ShopHome' %}"><button>Cancel</button></a>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/Signup_Handler.js' %}"></script>
    <script src="{% static 'js/Notification_Message.js' %}" async defer></script>
</body>
</html>