body::-webkit-scrollbar{
    display: none;
}
#Base_Map_Holder{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 145px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 60px;
    overflow: hidden;
}

/* Map Styele */
#map{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 750px){
  #Base_Map_Holder{
        bottom: 40px;
    }
}

@media only screen and (max-width: 580px){
  #Base_Map_Holder{
        grid-template-rows: 1fr 125px;
    }
}


